<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    {% load static %}    
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <title>Добро пожаловать в мою библиотеку!</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 dark-bg">
                <nav class="navbar navbar-expand navbar-dark bg-transparent">
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav mr-auto">
                        <li id="menu-item-main" class="nav-item">
                            <a  class="nav-link" href="/">Главная</span></a>
                        </li>
                        <li id="menu-item-redactions" class="nav-item">
                            <a class="nav-link" href="/redactions">Группировка по издательствам</a>
                        </li>
                        <li id="menu-item-lended" class="nav-item">
                            <a class="nav-link" href="/lended_books">Одалживание книг</a>
                        </li>
                        </ul>
                        <div class="userlogin mr-right">
                            {% if username %}  
                                <small>Привет, {{ username }}! <a style="color: white; text-decoration: none;" href='/logout'>Выйти</a></small>
                            {% else %}  
                                <small><a style="color: white; text-decoration: none;" href="/login">Войти</a></small>
                            {% endif %}  
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col space">
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-auto dark-bg">
                {% block content_1 %}
                {% endblock %}
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
                <div class="col space">
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-auto dark-bg">
                    {% block content_2 %}
                    {% endblock %}
                </div>
                <div class="col"></div>
            </div>    
    </div>                                
    
    <div class="container-fluid dark-bg">
               
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
        {% block script %}
        {% endblock %}
</body>
</html>
