<table border="1">
    {% for publisher, books in books_by_publisher.items %}
    <tr>            
        <td colspan="7"><h3>{{ publisher }}</h3></td>
    </tr>
        {% for book in books %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.ISBN }}</td>
            <td>{{ book.description }}</td>
            <td>{{ book.year_release }}</td>
            <td>{{ book.author.full_name }}</td>
            <td>{{ book.author.country }}</td>
        </tr>

        {% endfor %}

{% endfor %}
</table>
