{% extends 'base.html' %}

{% block content_1 %}
<div class="wrapper">
    <h3>Форма добавления друга в базу данных</h3>
    <form action="/lended_books/add_mate" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Введите имя друга: </label>
        <input name="mate_name" value=""/>
        <input class="btn btn-outline-light" type="submit" value="Сохранить" />
    </form>
</div>
{% endblock %}

{% block content_2 %}
<div class="wrapper">
    <h3>Информация об одолженных книгах</h3>
    <table class="table table-sm table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Автор</th>
                <th>У кого</th>
                <th>Дать почитать</th>
            </tr>
        </thead>
        {% for book in books %}
        <tr>
            <td>
                {{ forloop.counter }}
            </td>
            <td>
                {{ book.title }}
            </td>
            <td>
                {{ book.author }}
            </td>
            <td>
                {% ifequal book.mates.all.count 0 %}
                    <p>Все экземпляры дома</p>
                {% endifequal %}
                <table class="table table-sm table-borderless">
                {% for mate in book.mates.all %}
                    <tr>
                        <td>
                            {{ mate }}
                        </td>
                        <td> 
                            <form action="/lended_books/return" method="post" enctype="multipart/form-data">
                            {% csrf_token %}    
                                    <input type="hidden" name="mate" value="{{mate.id}}" />
                                    <input type="hidden" name="book" value="{{book.id}}" />
                                    <input class="btn btn-outline-light" type="submit" value="Вернуть" />
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </td>
            <td>
                {% if book.copy_count <= book.mates.all.count %}
                    <p>Все экземпляры розданы</p>
                {% else %}
                    <form action="/lended_books/lend" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="book" value="{{book.id}}">
                        <select name="mates">
                            {% for mate in mates %}
                                {% if mate not in book.mates.all %}
                                    <option value="{{mate.id}}">{{mate}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <input class="btn btn-outline-light" type="submit" value="Дать почитать" />
                    </form>
                {% endif %}                          
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block script %}
<script>
    $("li").removeClass("active");
    $("#menu-item-lended").addClass("active");
</script>
{% endblock %}
