{% extends 'base.html' %}

{% block content_1 %}
<div class="wrapper">
    <h3>Список книг с группировкой по издательству</h3>
    <ul class="list-group">
        {% for publisher, books in books_by_publisher.items %}
            <li class="list-group-item list-group-item-dark"><h2>{{ publisher }}</h2></li>
            <ul class="list-group">
                {% for book in books %}
                <li class="list-group-item list-group-item-dark">{{ forloop.counter }}. {{ book.author }}. "{{ book.title }}"</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block script %}
    $("li").removeClass("active");
    $("#menu-item-redactions").addClass("active");
{% endblock %}
